.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
    color: #1e73be;
}

    .navbar-scroll .nav-link:hover {
        color: #1266f1;
    }

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
    color: #1e73be;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: white;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
}

body {
    background-color: #eee;
}

.nav-search {
    margin: 1rem 0;
}

.nav-shadow {
    box-shadow: 0px 1px 1px 0px #0000001A;
    margin-top: 92px;
    margin-bottom: 1px;
}

/*.nav-underline {
    position: fixed;
}*/

.nav-underline .nav-link {
    padding: 8px 0;
    font-weight: 600;
    font-size: large;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

    .nav-underline .nav-link:hover {
        position: relative;
        color: #1e73be;
    }

        .nav-underline .nav-link:hover:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 80px;
            transform: scale(1);
            background-color: #1e73be;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
        }