.createdDate {
    color: gray;
}

#text-content {
    white-space: pre-line;
}

.recent-post {
    float: left;
}

.recent-post .recent-img {
    width: 30%;
    float: left;
    border-radius: 5px;
    object-fit: cover;
}

.recent-post .recent-text {
    width: 70%;
    float: left;
}

.title-news {
    color: black;
    text-decoration: none;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    transition: 0.3s all ease-in-out;
}

    .title-news:hover {
        color: #4154f1;
    }
