html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.link-text {
    color: #8FB9DF !important;
    text-decoration: none;
}

.link-text:hover {
    text-decoration: underline;
}