@model Datn_Shared.ViewModels.AccountViewModels.Register

@{
    ViewData["Title"] = "Register";
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <script src="~/js/login.js"></script>
}

<div style="margin-bottom : 50px">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Đăng Nhập</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Đăng Ký</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form asp-controller="Login" asp-action="Login">
                        <div class="group">
                            <label for="user" class="label">Tài Khoản</label>
                            <input asp-for="Username" id="user" type="text" class="input">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Mật Khẩu</label>
                            <input asp-for="Password" id="pass" type="password" class="input" data-type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Lưu Đăng Nhập</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Đăng Nhập">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Quên mật khẩu?</a>
                        </div>
                    </form>
                </div>
                <div class="sign-up-htm">
                    <form asp-controller="Register" asp-action="Register" method="post">
                        <div class="group">
                            <label class="label">Họ tên</label>
                            <input asp-for="FullName" type="text" class="input">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label class="label">Tài Khoản</label>
                            <input asp-for="Username" type="text" class="input">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label class="label">Mật Khẩu</label>
                            <input asp-for="Password" type="password" class="input" data-type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label class="label">Nhập Lại Mật Khẩu</label>
                            <input asp-for="ConfirmPassword" type="password" class="input" data-type="password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label class="label">Giới tính</label>
                            <select asp-for="Gender" class="input">
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                                <option value="2">Khác</option>
                            </select>
                        </div>
                        <div class="group">
                            <label class="label">Số điện thoại</label>
                            <input asp-for="PhoneNumber" type="text" class="input">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label class="label">Email</label>
                            <input asp-for="Email" type="email" class="input">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label class="label">Ngày sinh</label>
                            <input asp-for="DateOfBirth" type="date" class="input" min="1920-01-01" max="2015-12-31">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label class="label">Địa chỉ</label>
                            <input asp-for="Address" type="text" class="input">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Đăng Ký">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1"><a asp-area="" asp-controller="Login" asp-action="Login">Đã Có Tài Khoản?</a></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
