@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/text.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slidenews.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cardnews.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/blognews.css" asp-append-version="true" />
}

<div class="wrapper" style="margin-bottom : 20px">
    <div class="bg"> Tin Nổi Bật </div>
    <div class="fg"> Tin Nổi Bật </div>
</div>
<div class="slider">
    <input type="radio" name="toggle" id="btn-1" checked>
    <input type="radio" name="toggle" id="btn-2">
    <input type="radio" name="toggle" id="btn-3">

    <div class="slider-controls">
        <label for="btn-1"></label>
        <label for="btn-2"></label>
        <label for="btn-3"></label>
    </div>

    <ul class="slides">
        <li class="slide">
            <div class="slide-content">
                <h2 class="slide-title">Tin Mới</h2>
                <p class="slide-text">Nóng bảng xếp hạng bi-a thế giới: Hồng Thái “bay cao”, “thần đồng” Hàn Quốc lên số 1</p>
                <a href="#" class="slide-link">Learn more</a>
            </div>
            <p class="slide-image">
                <img src="~/images/slidenews1.jpg" alt="stuff" width="320" height="240">
            </p>
        </li>
        <li class="slide">
            <div class="slide-content">
                <h2 class="slide-title">Tin Nóng</h2>
                <p class="slide-text">Nhà vô địch bi-a thế giới Bao Phương Vinh gây “sốt” giải World Cup ở Hà Lan</p>
                <a href="#" class="slide-link">Learn more</a>
            </div>
            <p class="slide-image">
                <img src="~/images/slidenews2.jpg" alt="stuff" width="320" height="240">
            </p>
        </li>
        <li class="slide">
            <div class="slide-content">
                <h2 class="slide-title">Tin Nóng</h2>
                <p class="slide-text">Chuyện lạ: Trúng xổ số 2,4 triệu bảng và được lên tuyển đấu bi-a châu Âu</p>
                <a href="#" class="slide-link">Learn more</a>
            </div>
            <p class="slide-image">
                <img src="~/images/slidenews3.jpg" alt="stuff" width="320" height="240">
            </p>
        </li>
    </ul>
</div>
<div class="wrapper" style="margin-bottom : 20px;margin-top : 40px">
    <div class="bg"> Tin Tức </div>
    <div class="fg"> Tin Tức </div>
</div>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<div class="webinar-grid">

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/Center6.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Nóng bảng xếp hạng bi-a thế giới: Hồng Thái “bay cao”, “thần đồng” Hàn Quốc lên số 1
            </h1>

            <div class="webinar-content-box">
                <p>
                    Giải carom 3 băng Veghel World Cup 2023 kết thúc khuya ngày 28/10 mới đây chứng kiến màn lên ngôi rất thuyết phục của Dick Jaspers. Với phong độ ấn tượng, siêu sao người Hà Lan chỉ mất đúng 12 lượt cơ để đánh bại cơ thủ số 1 nước Đức Martin Horn với cách biệt 50-22 để giành chức vô địch.

                </p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>
    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/Visualizing_R_Webinar.png">
            </div>
            <h1 class="dundas-blue-text-long">
                Cơ thủ bi-a số 1 thế giới tiến cử "Khải tóc dài" thi đấu cho tuyển châu Âu
            </h1>
            <div class="webinar-content-box">
                <p>Hanoi Pool Open Championship 2023 đã kết thúc tại Hà Nội vào 15/10 nhưng dư âm về sự kiện này vẫn đang kéo dài. Giải đấu pool quốc tế lần đầu tiên tổ chức tại Thủ đô giúp khán giả Việt Nam tới gần hơn với những cơ thủ hàng đầu thế giới, hay huyền thoại lừng danh thế giới, các tay cơ chủ nhà cũng có dịp thi đấu, cọ xát với đối thủ lớn.</p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>
    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/20_Tips.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                "Nữ thần" bi-a Trung Quốc đua tài, khoe sắc ở giải vô địch thế giới 2023
            </h1>
            <div class="webinar-content-box">
                <p>
                    Sau giải bi-a quốc tế diễn ra ở Hà Nội, lúc này làng bi-a pool đang hướng sự tập trung vào giải vô địch 10 bi nữ thế giới 2023 diễn ra tại Áo từ 18 tới 22/10.

                </p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/Winning-Dashboards-Webinar-600x233.png">
            </div>
            <h1 class="dundas-blue-text-long">
                Reyes đánh bại "Khải tóc dài", Jayson Shaw vô địch nghẹt thở giải bi-a ở Hà Nội
            </h1>
            <div class="webinar-content-box">
                <p>Hanoi Open Pool Championship 2023 tổ chức tại Hà Nội từ 10 tới 15/10 tại Hà Nội mang tới cho khán giả Việt Nam quá nhiều kỷ niệm đáng nhớ. Ở sự kiện bi-a quốc tế tầm cỡ lần đầu tiên diễn ra tại Việt Nam, quy tụ những cơ thủ hàng đầu thế giới, cơ cấu giải thưởng lớn và có cả sự xuất hiện của "Phù thủy" Efren Reyes (Philippines). </p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/Steps-to-Success-with-Self-Service-Analytics-Webinar-600x233.png">
            </div>
            <h1 class="dundas-blue-text-long">
                "Phù thủy bi-a" Reyes tri ân khán giả Việt bằng cơ 4 băng kinh điển
            </h1>
            <div class="webinar-content-box">
                <p>Hanoi Open Pool Championship 2023, giải bi-a quốc tế tầm cỡ đầu tiên được tổ chức tại Hà Nội từ 10 tới 15/10 dần bước vào những trận đấu cuối cùng. Không chỉ có những cơ thủ hàng đầu tới tranh tài, sự kiện còn "nóng" hơn khi huyền thoại 69 tuổi, Efren Reyes xuất hiện vào chiều 14/10.</p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/Big-Data-Webinar-600x233.png">
            </div>
            <h1 class="dundas-blue-text-long">
                "Phù thủy" Reyes thua Anh Tuấn tại giải bi-a trong mơ ở Hà Nội
            </h1>
            <div class="webinar-content-box">
                <p>So tài với cơ thủ hàng đầu Việt Nam, huyền thoại 69 tuổi Philippines nhận thất bại ở trận đấu biểu diễn tại sự kiện Hanoi Open Pool Championship 2023.</p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/v3-webinar-600x233.png">
            </div>
            <h1 class="dundas-blue-text-long">
                Nữ cơ thủ "Thiên thần nhỏ" gây sốt ở giải bi-a quốc tế tại Hà Nội
            </h1>
            <div class="webinar-content-box">
                <p>Song song với sự kiện bi-a quốc tế Hanoi Open Pool Championship dành cho các cơ thủ chuyên nghiệp và nghiệp dư, tại Hà Nội cũng đang diễn ra Hanoi Junior Open, giải đấu dành cho lứa tuổi thiếu niên thứ 5 của Matchroom trong lịch trình World Nineball Tour và là giải đầu tiên tại châu Á.</p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/Visual-Analytics-Deliver-Key-Requirements-600X233.png">
            </div>
            <h1 class="dundas-blue-text-long">
                "Khải tóc dài" làm huyên náo bi-a Hà Nội bằng tuyệt chiêu "đại bàng tung cánh"
            </h1>
            <div class="webinar-content-box">
                <p>Đỗ Khải, cơ thủ đến từ Hưng Yên vẫn là một tay cơ xa lạ với các VĐV, người hâm mộ quốc tế, nhưng anh lại được nhiều người hâm mộ bi-a tại Việt Nam biết đến. Với phong cách thi đấu rất "phủi", tiếp cận trận đấu với thái độ vui vẻ, cống hiến và tận hưởng... , những trận đấu của Đỗ Khải thường diễn ra trong không khí hòa nhã, thậm chí huyên náo.</p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/How-to-Build-a-Dashboard-600X233.png">
            </div>
            <h1 class="dundas-blue-text-long">
                Đỉnh cao bi-a Việt: Anh Tuấn hạ vô địch châu Âu, so tài "Phù thủy" Reyes
            </h1>
            <div class="webinar-content-box">
                <p>
                    Do Dương Quốc Hoàng, cơ thủ số 1 pool 9 bóng của Việt Nam (hạng 44 thế giới, theo bảng xếp hạng Matchroom) không tham dự Hanoi Pool Championship 2023 nên tay cơ số 2 Nguyễn Tuấn Anh (107) nhận nhiều kỳ vọng.

                </p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/Delivering-Secure-Self-Service-BI-600X233.png">
            </div>
            <h1 class="dundas-blue-text-long">
                Giải Bi-a "trong mơ" ở Hà Nội: Siêu sao hay nhà vô địch quốc tế vẫn "thua đau"
            </h1>
            <div class="webinar-content-box">
                <p>Giải pool 9 Hanoi Open Pool Championship 2023 là sân chơi quy tụ 128 cơ thủ hàng đầu và 128 người chơi còn lại dù có thể đang thi đấu nghiệp dư hoặc chuyên nghiệp nhưng họ cũng rất tài năng.</p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>

    <a href="/learning/webinars/18-12-2016-visualizing-r-advanced-analytics-results-in-dundas-bi" class="link-block">
        <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="http://www.dundas.com/Content/uploads/Flexibility-Webinar-Banner-for-web.png">
            </div>
            <h1 class="dundas-blue-text-long">
                Cơ thủ Việt Nam "ngược dòng" khó tin hạ siêu sao Biado giải bi-a "trong mơ" ở Hà Nội
            </h1>
            <div class="webinar-content-box">
                <p>
                    Hanoi Open Pool Championship 2023, giải bi-a pool 9 bi quốc tế đầu tiên tổ chức tại Việt Nam từ 10 tới 15/10 chứng kiến kết quả bất ngờ ngay trong ngày khai màn (10/10).

                </p>
                <span class="dundas-blue-link">View webinar &gt;</span>
            </div>
        </div>
    </a>
</div>
<div class="wrapper" style="margin: 1.5rem 0 2rem 0;">
    <div class="bg"> Top Tác Giả </div>
    <div class="fg"> Top Tác Giả </div>
</div>
<div class="row" style="justify-content: center;">
    <div class="col-md-3">
        <div class="container">
            <div class="card">
                <img src="~/images/huydepzai.png" alt="Person" class="card__image">
                <p class="card__name">Đỗ Đức Huy</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        156 Post
                    </div>

                    <div class="grid-child-followers">
                        1012 Likes
                    </div>

                </div>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                </ul>
                <button class="btn draw-border">Follow</button>
                <button class="btn draw-border">Message</button>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container">
            <div class="card">
                <img src="https://lh3.googleusercontent.com/ytP9VP86DItizVX2YNA-xTYzV09IS7rh4WexVp7eilIcfHmm74B7odbcwD5DTXmL0PF42i2wnRKSFPBHlmSjCblWHDCD2oD1oaM1CGFcSd48VBKJfsCi4bS170PKxGwji8CPmehwPw=w200-h247-no" alt="Person" class="card__image">
                <p class="card__name">Hoàng Thanh Tùng</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        156 Post
                    </div>

                    <div class="grid-child-followers">
                        1012 Likes
                    </div>

                </div>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                </ul>
                <button class="btn draw-border">Follow</button>
                <button class="btn draw-border">Message</button>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container">
            <div class="card">
                <img src="https://lh3.googleusercontent.com/ytP9VP86DItizVX2YNA-xTYzV09IS7rh4WexVp7eilIcfHmm74B7odbcwD5DTXmL0PF42i2wnRKSFPBHlmSjCblWHDCD2oD1oaM1CGFcSd48VBKJfsCi4bS170PKxGwji8CPmehwPw=w200-h247-no" alt="Person" class="card__image">
                <p class="card__name">Phạm Nguyễn Quốc Phương</p>
                <div class="grid-container">

                    <div class="grid-child-posts">
                        156 Post
                    </div>

                    <div class="grid-child-followers">
                        1012 Likes
                    </div>

                </div>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                </ul>
                <button class="btn draw-border">Follow</button>
                <button class="btn draw-border">Message</button>

            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

