@model Datn_Shared.ViewModels.BillDetailViewModels.CreateBillDetail
@using Datn_Shared.ViewModels.ProductViewModels;
@using Datn_Shared.ViewModels.BillViewModels;

@{
    ViewData["Title"] = "Add";
    var product = (ViewData["a"] as List<ProductView>);
    var bill = (ViewData["b"] as BillView);
}

<h1>Add</h1>

<h4>CreateBillDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-area="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BillId" class="control-label"></label>
                <input asp-for="BillId" class="form-control" value="@bill.Id"/>
                <span asp-validation-for="BillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ProductDetailId" class="control-label"></label>
                <input asp-for="ProductDetailId" class="form-control" />
                <span asp-validation-for="ProductDetailId" class="text-danger"></span>*@
                <label class="col-sm-4 col-form-label">Sản phẩm</label>
                <select asp-for="ProductDetailId" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    @foreach (var item in product)
                    {
                        <option value="@item.ProductDetailId">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

