@model Datn_Shared.ViewModels.CustomerViewModels.CustomerView

@{
    ViewData["Title"] = "EditProfile";
    <link rel="stylesheet" href="~/css/editprofile.css" asp-append-version="true" />
}

<div class="container emp-profile">
    <form asp-controller="Customer" asp-action="ChangePassword">
        <div class="row" style="margin-right: 1rem;">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/images/customers/@Model.Customer.Image" alt="" />
                    @* <div class="file btn btn-lg btn-primary">
                    Thay đổi ảnh
                    <input type="file" name="file" />
                    </div> *@
                </div>
                <div class="profile-work">
                    <p>MUA BÁN</p>
                    <a asp-area="" asp-controller="WishList" asp-action="Index" class="link-text-name">Sản Phẩm Yêu Thích</a><br />
                    <a asp-area="" asp-controller="Cart" asp-action="Index" class="link-text-name">Giỏ Hàng</a><br />
                    <a asp-area="" asp-controller="Bill" asp-action="Bill" class="link-text-name">Hóa Đơn</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                    <h5 style="display: contents;">@Model.Customer.UserName</h5>
                    <a asp-area="" asp-controller="Customer" asp-action="Index" class="link-text-name" style="float: right;">Quay lại</a>
                    <p class="proile-rating">RANKINGS : <span>@Model.Customer.Rank.Name</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <div class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thay Đổi Mật Khẩu</div>
                        </li>
                    </ul>
                </div>
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Mật khẩu hiện tại</label>
                            </div>
                            <div class="col-md-6" style="margin-bottom : 10px">
                                <div class="input-group flex-nowrap">
                                    <input name="CurrentPassword" type="password" class="form-control" placeholder="Mật khẩu" aria-label="Mật khẩu" aria-describedby="addon-wrapping" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Mật khẩu mới</label>
                            </div>
                            <div class="col-md-6" style="margin-bottom : 10px">
                                <div class="input-group flex-nowrap">
                                    <input name="NewPassword" type="password" class="form-control" placeholder="Mật khẩu mới" aria-label="Mật khẩu mới" aria-describedby="addon-wrapping" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Xác nhận mật khẩu mới</label>
                            </div>
                            <div class="col-md-6" style="margin-bottom : 10px">
                                <div class="input-group flex-nowrap">
                                    <input name="ConfirmNewPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu" aria-label="Xác nhận mật khẩu" aria-describedby="addon-wrapping" required>
                                </div>
                            </div>
                        </div>

                        <div style="color: red">@ViewBag.MessageChangePWCus</div>

                        <div class="my-5" style="text-align: center;">
                            <button type="submit" class="btn btn-success">Xác nhận thay đổi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>